version: '3.8'

services:
  newsfilter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: newsfilter_app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped